.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid var(--customers-text-color);
  color: var(--customers-text-color);
  border-radius: 4px;
  transition: color var(--duration-and-timing-function),
    border-color var(--duration-and-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.customers__item {
  flex-basis: calc((100% - 30px) / 2);
}

.customers__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .customers__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers__list {
    flex-wrap: nowrap;
  }
  .customers__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
