.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  text-align: center;
  color: var(--color-text-dark-threme);
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-column:not(:last-child) {
  margin-bottom: 60px;
}

.address__link {
  font-family: inherit;
  font-style: normal;
  line-height: 1.71;
  color: var(--color-text-dark-threme);
}

.address__link_address_font {
  font-family: inherit;
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-address-text-color);
  transition: color var(--duration-and-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__item {
  text-align: center;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.column__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--color-text-dark-threme);
}

.join {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--color-text-dark-threme);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--duration-and-timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.subscription-form__email {
  width: 100%;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px 15px;
  color: var(--color-text-dark-threme);
  margin-bottom: 20px;
}

.subscription-form__btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding-left: 31px;
  padding-right: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-text-dark-threme);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color var(--duration-and-timing-function),
    box-shadow var(--duration-and-timing-function);
  &:hover,
  &:focus {
    background-color: var(--button-active);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.subscription-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-column {
    width: 50%;
  }

  .footer-column:last-child {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo,
  .address__item,
  .column__title {
    text-align: left;
  }

  .join {
    justify-content: start;
  }

  .footer-container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .subscription-form {
    display: flex;
  }

  .subscription-form__email {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
