:root {
  --accent-color: #2196f3;
  --main-color-page: #212121;
  --second-color-page: #757575;
  --color-text-light-threme: #000000;
  --color-text-dark-threme: #ffffff;
  --color-btn-filter-hover: #ffffff;
  --footer-address-text-color: rgba(255, 255, 255, 0.6);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --modal-form-color-border: rgba(33, 33, 33, 0.2);

  --backround-color-light: #ffffff;
  --backround-color-dark: #2f303a;
  --background-color-section-team: #f5f4fa;
  --background-color-btn-filter: #f5f4fa;
  --button-active: #188ce8;
  --header-border-color: #ececec;
  --border-color-projects-item: #eeeeee;
  --customers-text-color: #afb1b8;
  --social-link-color: #afb1b8;

  --duration-and-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
